@import url(https://fonts.googleapis.com/css?family=Didact+Gothic|Comfortaa:400,700&subset=latin,cyrillic);

body {
    background-color: #21325E;
    padding:5%;
}

h1{
    text-align: center;
}

a {
    color:aqua;
}

.links{
    font-size: large;
}

.defText{
    padding: 5%;
    font-size: medium;
}

.cardPage {
    background-color: #3E497A;
    border-radius: 5%;
    padding: 10%;
    color: #F0F0F0;
    font-family: 'Comfortaa';
    font-weight: bold;
}

.photo{
    float: left;
    margin-right: 50px;
    border-radius: 50px;
    box-shadow: #331D2C 0 0 30px;
}