.table1{
    margin: 0px auto;
    border: 1 solid black;
    width: 50%;
    height: 100px;
    text-align: center;
    border-collapse: collapse;
}

.table1 td, .table1 th,.table1 tr{
    border: 1px solid black;
}

.table2{
    margin: 0px auto;
    text-align: center;
    border-collapse: collapse;
    border: 1;
    width: 50%;
    height: 100px;
}

.table2 td, .table2 th, .table2 tr{
    border: 1px solid black;
}

.table3{
    margin: 0px auto;
    text-align: center;
    border-collapse: collapse;
    border: 1;
    width: 500px;
    height: 500px;
}

.table3 td, .table3 th, .table3 tr{
    border: 1px solid black;
}

.tableInside{
    margin: 0px auto;
    border: 1;
    width: 500px;
    height: 500px;
}

.table4{
    text-align: center;
    margin: 0px auto;
    width: 500px;
    height: 500px;
}

.blue {
    background-color: aqua;
}
.milk {
    background-color: rgb(255, 237, 214);
}
.red {
    background-color: red;
}
.dark_blue {
    background-color: blue;
}
.green {
    background-color: rgb(20, 207, 20);
}
.yellow {
    background-color: yellow;
}